<form action="<%=url%>?_method=DELETE" method="POST">
  <div class="btn-row" style="padding-top: 1rem;">
    <a href="/books/<%=id %>/edit " class="btn btn-primary">Edit</a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </div>
</form>
